*{
    margin: o;
    padding: 0;
    box-sizing: border-box;
    font-size: 100%;
}
a {
    text-decoration: none;
}
.title {
    color: #FFFFFF;
    margin-left: 240px;
    padding-top: 70px;
    display: inline-block;
}
.dots {
    font-size: 50px;
    color: #FFFFFF;
}
.box {
    background-color: #0A22F4;
    height: 308px;
}
.d-inline-block {
    display: inline-block;
    vertical-align: middle;
}
.container {
    position: absolute;
    top: 150px;
}
.image-box {
    width: 340px;
    height: 420px;
    position: relative;
    margin-left: 10px;
}
.image-box1 {
    top: -50px;
}
.image-box img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 15px;
}
.content-box {
    border-radius: 12px;
    width: 325px;
    height: 125px;
    background-color: #FFFFFF;
    position: absolute;
    top: 285px;
    right: 10px;
}
.position-text {
    font-family: 'HelveticaNeue';
    font-size: 18px;
    position: absolute;
    color: #171717;
    bottom: 40px;
    left: 5%;
}
.other {
    font-size: 18px;
    color: #171717;
    margin-top: 350px;
    margin-right: 256px;
    text-align: right;
}